html,body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    margin-right:30px ;
}

a{
    text-decoration: none;
    color:#333333;
    font-size: 14px;
} 
h1,h2,h3,p{
    padding: 0;
    margin: 0;
}
.menu-top{
    background: #E5E5E5;
    padding-top:16px;
    padding-bottom: 16px;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
.logo>a{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #66C05D;
}
.logo>a>img{
    padding-right: 20px;
}
.menu{
    border-bottom: 1px solid #EFEFEF;;
}
.contact>.tel{
    font-size: 16px;
    font-weight: 600;
    padding-right: 40px;
}
.contact>.btn{
    font-size: 14px;
    font-family: 600;
    padding: 13px 27px;
    border: 2px solid #66C05D;
    border-radius: 40px;
}
.btn:hover{
    background: #66C05D;
    color:#EFEFEF;
}
.menu-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding: 20px 0; */
}
.bottom{
    padding: 30px 0;
}
.bottom>li{
    margin-right: 40px;
}
.bottom>li>a{
    font-size: 16px;
}
.slider{
    background: url('img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 193px 0;
}
.slider-head{
    color: #FFFFFF;
    font-size: 48px;
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
}
.slider-text{
    width: 308px;
    font-size: 14px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    
}
.slider-button{
    padding-top: 47px;
}
.slider-btn{
    color:#FFFFFF;
    font-size: 14px;
    padding: 10px 43px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
}
.main{
    background: #EFEFEF;
    padding-top: 80px;
    padding-bottom: 132px;
}
.main-title{
    font-size: 24px;
    padding-bottom: 40px;
}
.main-content{
    display: flex;
    justify-content: space-between;
}
.content-item{
    background: #FFFFFF;
    width: 255px;
    padding: 25px 0;
    text-align: center;
}
.content-item>img{
    padding-bottom: 20px;
}
.content-item>p{
    width: 162px;
    font-size: 14px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.content-item>h3{
    font-size: 21px;
    padding-bottom: 20px;
}
.content-item>a{
    background: #66C05D;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 40px;
    border-radius: 30px;
}
.footer-1{
    background: white;
    padding:38px 0 ;
}
.footer-logo>a{
    margin-right: 20px;
}
.street{
    font-size: 14px;
    color:#000000;
}
.footer-phone{
 font-size: 16px;   
}
.footer-btn{
    font-size: 14px;
    padding: 12px 24px 10px 25px;
    border: 2px solid #66C05D;
    border-radius: 40px;
}
.footer-menu{
    display: flex;
    justify-content: space-between;
}
.footer-contact{
    display: flex;
    justify-content: space-between;
    width: 667px;
    align-items: center;
}
.footer-call{
    display: flex;
    align-items: center;
}
.footer-phone{
    margin-right: 37px;
}
.footer-2{
    background: #EFEFEF;
    padding-top: 32px;
    padding-bottom: 25px;
}
.footer-politic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-politic>p{
    color: #828282;
    font-size: 12px;
}
.footer-politic>a{
    color: #828282;
    font-size: 12px;
}